html,
body,
header {
    width: 100%;
    height: 935px;
}


.intro {
    width: 100%;
    height: 936px;
    background: url(../img/fon.jpg) center no-repeat;
    background-size: cover;

}

.fluid {
    max-width: 800px;
    max-height: 600px;
    min-height: 600px;
    margin-left: 200px;
    padding-top: 200px;

    /*col-lg-10 col-xs-9 col-sm-7*/

}

.row {
    font-size: 33px;
}

